# Ignorar cachés de Python
_pycache_/
*.py[cod]

# Archivos de base de datos
db.sqlite3

# Archivos de medios subidos por usuarios
media/

# Archivos de registro
*.log

# Entornos virtuales
venv/
env/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Configuración de IDEs
.idea/
.vscode/
*.swp